*pyc
.coverage
.f2py_f2cmap
MANIFEST
build
dist
_site
htmlcov
pysimulators/__init__.py
pysimulators/*.so
src/module_geometry.f90
src/module_math.f90
src/module_operators.f90
src/datautils.f90
src/operators.f90
src/projection.f90
src/sparse.f90
