.coverage
.f2py_f2cmap
MANIFEST
build
dist
htmlcov
_site
/.venv*
/venv*
*pyc
**/__pycache__
*.egg-info
*.so
src/flib/module_geometry.f90
src/flib/module_math.f90
src/flib/module_operators.f90
src/flib/datautils.f90
src/flib/operators.f90
src/flib/projection.f90
src/flib/sparse.f90
