include .coveragerc
include README.rst
include pysimulators/__init__.py.in
exclude pysimulators/__init__.py
exclude pysimulators/module_operators.f90
exclude pysimulators/module_sparse.f90
raft test/data
